/* common */
body {
	margin: 0;
	padding: 0;
}

span {
	color: var(--textColor);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: bold;
	line-height: 0.75em;
	margin: 0;
	padding: 0;
}

/* wrappers */
.wrapper {
	align-items: center;
	background-image: var(--url);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: flex-end;
	position: relative;
	width: 100%;
}

.text_container {
	align-items: center;
	background-color: var(--color);
	box-sizing: border-box;
	display: flex;
	height: 220px;
	padding-left: 60px;
	padding-right: 100px;
}

.year_wrapper {
	align-items: flex-end;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: flex-end;
	margin-right: 20px;
}

.col_wrapper {
	display: flex;
	flex-direction: column;
}

.row_wrapper {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* elements */
.year {
	font-size: 90px;
}

.month {
	font-size: 80px;
	padding-right: 5px;
	letter-spacing: 2px;
}

.date {
	font-size: 60px;
}

.days {
	font-size: 70px;
}
